.card {
  position: relative;
  margin: 0;
  /*box-shadow: 0 2px 5px rgba(233, 233, 101, 0.962);*/
  border-radius: 20px;
  border-color: azure;
  border: 10px;
  padding: 1rem;
  padding-top: 2px;
  overflow: hidden;
  color: white;

  background-color: rgb(16, 9, 9); /* Semi-transparent background */
  backdrop-filter: blur(80px); /* Apply the blur effect */
}
